#header {
    margin-left: 50px;
    margin-right: auto;
    width: 650px;
}

#content {
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    width: 650px;
}

.sectionImage {
    float: left;
}

.sectionHeader {
    float: right;
}

img { 
    max-width:75%; 
    height:auto; 
} 

body {
    background-color: rgb(25, 56, 76);
    color: white;
    font-family: 'Assistant';
    font-size: 22px;
}
