/* general style */
a {
  color: yellowgreen;
}

img {
  align-content: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  height: auto;
  max-width: 100%;
}

body {
  background-color: rgb(25, 56, 76);
  color: white;
  font-family: 'Assistant', sans-serif;
  font-size: 22px;
  margin-left: 50px;
  margin-right: auto;
  width: 1000px;
}

/* grid on main page */
.sections {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "image1 content1"
    "image2 content2";
}

#image1 {
  grid-area: image1;
  margin-bottom: 50px;
}

#content1 {
  grid-area: content1;
  margin: 25px;
}

#image2 {
  grid-area: image2;
  margin-bottom: 50px;
}

#content2 {
  grid-area: content2;
  margin: 25px;
}

/* comments section */
#comment-input {
  height: 100px;
  width: 50%;
}

#username-input { 
  width: 25%;
  margin-left: 5px;
  margin-right: 10px; }

input[type=submit] {
  background-color: yellowgreen;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
}

#comment-form {
  margin-bottom: 25px;
}

#text-container {
  margin-bottom: 30px;
}

#text-container p {
  font-size: 18px;
}

.comment {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  padding: 5px;
}

.comment-username {
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

.comment-mood { margin-right: 25px; }

.delete-button {
  background-color: transparent;
  border: 0.5px solid white;
  color: white;
  float: right;
  padding: 5px 20px;
  text-align: center;
}


#select-comment-number {
  background-color: white;
  border: none;
  margin: 5px;
  max-width: 100%;
  padding: 5px 5px;
  width: 50px;
}

#select-comment-sort {
  background-color: white;
  border: none;
  margin: 5px;
  max-width: 100%;
  padding: 5px 5px;
  width: 100px;
}

#select-mood {
  background-color: white;
  border: none;
  margin: 5px;
  max-width: 100%;
  padding: 5px 5px;
  width: 50px;
}

hr { border: 1px solid yellowgreen; }

/* title with animation */
#typewriter {
  display: inline-block;
}

#title {
  animation:
    animated-title 3s steps(20, end),
    animated-cursor 0.75s step-end infinite;
  border-right: 4px solid yellowgreen;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes animated-title {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes animated-cursor {
  from,
  to {
    border-right-color: transparent;
  }

  50% {
    border-right-color: yellowgreen;
  }
}

/* photo slideshow */
.slideshow {
  box-sizing: border-box;
  height: auto;
  max-width: 500px;
  margin-top: 25px;
  position: relative;
}

.slide {
  display: none;
}

#back { font-size: 14px; }

/* slideshow: arrows for previous and next image */
.prev,
.next {
  border-radius: 0 5px 5px 0;
  color: yellowgreen;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: -20px;
  padding: 15px;
  position: absolute;
  transition: 0.6s ease;
  top: 50%;
  user-select: none;
  width: auto;
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.prev:hover,
.next:hover { background-color: rgba(0, 0, 0, 0.8); }

/* slideshow: position indicator dots including animation on hover and when active */
#dots { text-align: center; }

.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 20px;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
