#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

img { 
    max-width:75%; 
    height:auto; 
} 

body {
    font-family: 'Assistant';
    font-size: 22px;
}
